{% extends '_layouts/base.html.twig' %}

{% block content %}
    <h2>Contact</h2>
    <p><strong>{{ form.contact.flash_message }}</strong></p>
    <form method="post">
        <input type="hidden" name="contact[csrf_token]" value="{{ form.contact.data.csrf_token }}"/>
        <div>
            <label for="email">E-mail: </label>
            <input type="text" id="email" name="contact[email]" />
            {% if form.contact.errors['email'] is defined %}
                <ul class="error">
                    {% for error in form.contact.errors['email'] %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="contact[name]" />
            {% if form.contact.errors['name'] is defined %}
                <ul class="error">
                    {% for error in form.contact.errors['name'] %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <div>
        </div>
            <label for="message">Message: </label>
            <textarea id="message" name="contact[message]" rows="3"></textarea>
            {% if form.contact.errors['message'] is defined %}
                <ul class="error">
                    {% for error in form.contact.errors['message'] %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button type="submit">Send</button>
    </form>
{% endblock %}
